<!DOCTYPE html>
<html>
<head>
    <title>Image Demo</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>

    <style type='text/css'>
        .content
        {
            position: relative;
            width:  910px;
            height: 910px;
            background: url({{ url_for('static', filename='unlit.jpg') }}) no-repeat 0 0;
            overflow: hidden;
        }

        .lit
        {
            position: absolute;
            background-image: url({{ url_for('static', filename='lit.jpg')}});
            background-repeat: no-repeat;
        }
    </style>

    <script type='text/javascript'>//<![CDATA[ 
        $(window).load(function () {
            // Global variables

            $(document).ready(function () {
                // switch off every other element
                //$(".lit").filter(":even").toggle();

                //// toggle elements every interval
                //setInterval(function () {
                //    $(".lit").toggle();
                //}, 1000);
            });
        });//]]>  

</script>

</head>

<body>
    <div class="content">
        {% for c in cells %}
            <div id="{{c.id}}" title="{{c.title}}" class="lit" style="left: {{c.left}}px; top: {{c.top}}px; background-position: -{{c.left}}px -{{c.top}}px; height:{{c.height}}px; width:{{c.width}}px"></div>
        {% endfor %}
    </div>

</body>

</html>

