{# {% extends "base.html" %} #}
{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}

    <a href="{{url_for('clockfaceimg',style=style,fg='#FFFBD9',font=fontname)}}"></a>
    <style type='text/css'>
        .content
        {
            position: relative;
            width:  910px;
            height: 910px;
            {# note the use of the |safe filter to disable autoescaping within the script block #}
            background: url('{{url_for('clockfaceimg',style=style,font=fontname)|safe}}') no-repeat 0 0;
            overflow: hidden;
        }

        .lit
        {
            position: absolute;
            {# note the use of the |safe filter to disable autoescaping within the script block #}
            background-image: url("{{url_for('clockfaceimg',style=style,fg='#FFFBD9',font=fontname)|safe}}");
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type='text/javascript'>//<![CDATA[
        // Global variables
        var time5 = 0 ;
        var mapdata = null ;


        function lightsentence(i) {
            $('.lit').hide();
            sentence = mapdata.sentences[i];
            for (var i = 0; i < sentence.length;i++) {
                $(mapdata.words[sentence[i]]).show();
                }
            }

        $(window).load(function () {
            $(document).ready(function () {
                $.getJSON('map',function(data) {
                                    mapdata=data;;
                                    lightsentence(time5)
                                });

            // left and right arrow keys move time back/fwd
            $(document).keydown(function(e){
                if (e.keyCode == 37) {
                    time5 = (time5+287) % 288
                    lightsentence(time5);
                    return false;
                    }
                if (e.keyCode == 39) {
                    time5 = (time5+1) % 288
                    lightsentence(time5);
                    return false;
                    }
                });

                // advance time on mouse-click
                $( ".content" ).click(function() {
                    time5 = (time5+1) % 288
                    lightsentence(time5);
}               );
            });
        });//]]>  
    </script>

{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="content">
            {% for c in cells %}
                <div id="{{c.id}}" title="{{c.title}}" class="lit" style="left: {{c.left}}px; top: {{c.top}}px; background-position: -{{c.left}}px -{{c.top}}px; height:{{c.height}}px; width:{{c.width}}px"></div>
            {% endfor %}
        </div>
    </div>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
    </button>

   <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

