{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <style type='text/css'>
        .content
        {
            position: relative;
            width:  910px;
            height: 910px;
            background: url({{ url_for('static', filename='unlit.jpg') }}) no-repeat 0 0;
            overflow: hidden;
        }

        .lit
        {
            position: absolute;
            background-image: url({{ url_for('static', filename='lit.jpg')}});
            background-repeat: no-repeat;
        }
    </style>

    <script type='text/javascript'>//<![CDATA[
        // Global variables
        var time5 = 0 ;
        var mapdata = null ;


        function lightsentence(i) {
            $('.lit').hide();
            sentence = mapdata.sentences[i];
            for (var i = 0; i < sentence.length;i++) {
                $(mapdata.words[sentence[i]]).show();
                }
            }

        $(window).load(function () {
            $(document).ready(function () {
                $.getJSON('map',function(data) {
                                    mapdata=data;
                                    lightsentence(time5);
                                });

            $(document).keydown(function(e){
                if (e.keyCode == 37) {
                    time5 = (time5+287) % 288
                    lightsentence(time5);
                    return false;
                    }
                if (e.keyCode == 39) {
                    time5 = (time5+1) % 288
                    lightsentence(time5);
                    return false;
                    }
                });
            });
        });//]]>  
    </script>

{% endblock %}

{% block content %}
        {% for c in cells %}
            <div id="{{c.id}}" title="{{c.title}}" class="lit" style="left: {{c.left}}px; top: {{c.top}}px; background-position: -{{c.left}}px -{{c.top}}px; height:{{c.height}}px; width:{{c.width}}px"></div>
        {% endfor %}
{% endblock %}

