{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="container">
        <h2>Clock Styles</h2>
       <ul>
        {% for wtf in wtfs %}
           <li><a href="../{{wtf}}">{{wtf}}</a></li>
           {% for f in wtfs[wtf]['fonts'] %}
           <ul>
               <a href="{{url_for('clock3jr',style=wtf,font=f|fontname)}}">{{f|fontname}}</a>
           </ul>
           {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}

